/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-orange-dark: #ff8b3e;
    --color-orange-light: #ffab73;
    --color-orange-light-x: #ffc9a6;

    --color-blue-dark-x: #00244d;
    --color-blue-dark: #004799;
    --color-blue-light: #268bff;
    --color-blue-light-x: #a6d0ff;

    --color-yellow-dark: #4d2600;
    --color-yellow-dark: #994d00;
    --color-yellow-light: #ffdc26;
    --color-yellow-light-x: #ffffa6;

    --color-red-dark-x: #4d0000;
    --color-red-dark: #990000;
    --color-red-light: #ff2626;
    --color-red-light-x: #ffa6a6;


    --color-neutral-light-xxxx: #ffffff;
    --color-neutral-light-xxx: #fafdff;
    --color-neutral-light-xx: #e8eef2;
    --color-neutral-light-x: #ced5d9;
    --color-neutral-light: #b5bbbf;
    --color-neutral-dark: #85898c;
    --color-neutral-dark-x: #555759;
    --color-neutral-dark-xx: #252627;
    --color-neutral-dark-xxx: #0c0c0d;

    --color-gradient-dark: linear-gradient(var(--color-neutral-dark-xxx), var(--color-neutral-dark-xx));
    --global-background-gradient: var(--color-gradient-dark);

    --global-borderColor: var(--color-neutral-light-xxxx);

    --global-background-image: var(--global-background-gradient);
    --global-background-color: var(--color-neutral-dark-xx);
    --global-text-color: var(--color-neutral-light-xxxx);
    --global-text-color-light: var(--color-neutral-light);

    --global-color-alpha-dark: var(--color-orange-dark);
    --global-color-alpha-light: var(--color-orange-light-x);


    /* Whitespace */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */


    /* Shadows */

    /* border radius */

    /* transitions */
    --global-transition-alpha: 0.2s;
    --global-transition-beta: 1s;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Nunito', Helvetica, arial, sans-serif;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--global-text-color);
    background-color: var(--global-background-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 24px;
}

h2 {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-row--login {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* size modifiers */

.o-row--md {
    padding-top: var(--global-whitespace-md);
    padding-bottom: var(--global-whitespace-md);
}

.o-row--lg {
    padding-top: var(--global-whitespace-lg);
    padding-bottom: var(--global-whitespace-lg);
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: var(--global-whitespace-md);
}

.o-section--md + .o-section {
    margin-top: var(--global-whitespace-lg);
}

.o-section--lg + .o-section {
    margin-top: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: var(--global-whitespace-lg);
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: var(--global-whitespace-lg);
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 calc(var(--global-whitespace) / 2);
}

.o-layout--gutter-sm {
    margin: 0 -8px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 8px;
}

.o-layout--gutter-md {
    margin: 0 -16px;
}

.o-layout--gutter-md > .o-layout__item {
    padding: 0 16px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
    padding: 0 var(--global-whitespace-xl);
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter-v {
    margin: -8px 0;
}

.o-layout--gutter-v > .o-layout__item {
    padding: 8px 0
}


/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

.o-layout--column {
    flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-flex-grow {
    width: auto;
    flex-grow: 1;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}



/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
*/

.c-app{
    --c-app-sidebar-width: calc(192rem / 16);
    --c-app-height-header: calc(64rem / 16);
    --c-app-height-leftover: calc(100vh - var(--c-app-height-header));

    min-height: 100vh;
    background-image: var(--global-background-image);
}

.c-app__sidebar{
    display: grid;
    grid-template-rows: var(--c-app-height-header) var(--c-app-height-leftover);

    background-color: var(--c-app__sidebar-background-sub);

    position: absolute;
    z-index: 10000;
    transform: translateX(-100%);

    transition: all var(--global-transition-alpha) ease-out;
    -moz-transition: all var(--global-transition-alpha) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--global-transition-alpha) ease-out; /* Safari and Chrome */
}

.c-app__sidebar--show{
    transform: translateX(0);
}

.c-app__main{
    display: grid;
    grid-template-rows: var(--c-app-height-header) var(--c-app-height-leftover);
}

.c-main__header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-main__content{
    grid-row: 2;
    padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
    .c-app{
        display: grid;
        grid-template-columns: var(--c-app-sidebar-width) calc(100vw - var(--c-app-sidebar-width));
    }

    .c-app__sidebar{
        grid-column: 1;
        transform: translateX(0);
    }

    .c-app__main{
        grid-column: 2;
    }
}

/*
    Component: Sidebar
    ---
*/

.c-sidebar{
    --c-sidebar__header-padding-left: var(--global-whitespace-sm);
    --c-sidebar__header-background-header: var(--color-orange-dark);
    --c-sidebar__header-background: var(--color-neutral-dark-xxx);
    --c-sidebar__header-color: var(--color-neutral-light-xxxx);

    background: var(--c-sidebar__header-background);
}

.c-sidebar__header{
    grid-row: 1;
    background-color: var(--c-sidebar__header-background-header);
    padding-left: var(--c-sidebar__header-padding-left);
    color: var(--c-sidebar__header-color);
    fill: var(--c-sidebar__header-color);

    display: flex;
    justify-content: start;
    align-items: center;
}

.c-sidebar__title{
    margin: 0;
    padding: 0;
}

.c-sidebar__button{
    padding-right: var(--global-whitespace-md);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-sidebar__content{
    grid-row: 2;
    min-height: calc(100vh - var(--c-app-header-height));
    color: var(--c-sidebar__header-labelColor);
}


/*
    Component: Toggle list
    ---
*/

.c-toggle-list {

}


.c-toggle-list__item{

}


/*
    Component: Filter
    ---
*/

.c-label{
    --c-label-background: transparent;
    --c-label-background-checked: var(--color-neutral-dark-xx);
    --c-label-background-hover: var(--color-orange-dark);

    --c-label-labelColor: var(--color-neutral-light);
    --c-label-labelColor-checked: var(--color-orange-dark);
    --c-label-labelColor-hover: var(--color-neutral-light-xxxx);
    --c-label-hover-extraWidth: 0;
    
    --c-label-paddingH: var(--global-whitespace-md);
    --c-label-paddingV: calc(var(--global-whitespace-md) / 2);

    position: static;

    font-size: calc(16rem / 15);
    font-weight: 600;
    color: var(--c-label-labelColor);
    background-color: var(--c-label-background);

    width: 100%;
    height: 100%;

    padding: var(--c-label-paddingV) var( --c-label-paddingH);

    transition: all var(--global-transition-alpha) ease-out;
    -moz-transition: all var(--global-transition-alpha) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--global-transition-alpha) ease-out; /* Safari and Chrome */
}

@media (min-width: 15rem){ /* 240px = 15rem * 16 , take padding into acc*/
    .c-label{
        --c-label-hover-extraWidth: calc(32rem / 16);
    }
}

.c-option--hidden:checked + .c-label{
    background-color: var(--c-label-background-checked);
    color: var(--c-label-labelColor-checked);
}

.c-label:hover,
.c-label:focus{
    position: relative;
    background-color: var(--c-label-background-hover) !important ;
    color: var(--c-label-labelColor-hover) !important;

    width: calc(100% + var(--c-label-hover-extraWidth));

    -webkit-box-shadow: 0px 0px 10px 0px var(--color-orange-light-x);
    -moz-box-shadow: 0px 0px 10px 0px var(--color-orange-light-x);
    box-shadow: 0px 0px 10px 0px var(--color-orange-light-x);
}


.c-custom-toggle{
    --custom-option-background: var(--color-neutral-light-xxxx);
    --custom-option-background-checked: var(--color-neutral-light-xxxx);
    --custom-option-color: var(--color-neutral-light-xxxx);
    --custom-option-color-checked: var(--color-neutral-dark-xxx);

    --custom-option-borderColor: var(--color-neutral-dark-x);
    --custom-option-borderColor-hover: var(--color-neutral-dark-xx);
    --custom-option-border: 1px solid var(--custom-option-borderColor);
    --custom-option-border-hover: calc(2rem / 16) solid var(--custom-option-borderColor-hover);

    display: flex;
    align-items: center;
    justify-content: space-between;

    /*background-color: blue;*/
}

/*
.c-option--hidden:checked + .c-custom-toggle{
    background-color: red;
}
*/

.c-custom-toggle__fake-input{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    background-color: var(--custom-option-background);
    border-radius: calc(3rem / 16);
    border: var(--custom-option-border);

    margin-left: var(--global-whitespace-md);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input{
    background:var(--custom-option-background-checked);
}

.c-custom-toggle__symbol{
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__symbol{
    fill: var(--custom-option-color-checked);
    opacity: 100;
}

.c-label:hover .c-custom-toggle__fake-input,
.c-label:focus .c-custom-toggle__fake-input{
    border: var(--custom-option-border-hover);
}


/*
    Component: Intro
    ---
    Website intro page
*/

.c-intro{

}

.c-intro__title{
    color: var(--global-color-alpha-dark);
}

.c-intro__subtitle{
    color: var(--global-color-alpha-light);
}

.c-intro__content{
    color: var(--global-text-color-light);
}

.c-email{

}

.c-email__input{
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}

.c-intro__subcribe{

}



/*
    Component: Interactable
    ---
    Interactables
*/

.c-border-interact{
    font-size: 14px;
    font-weight: 600;
    padding: 14px 18px;

    background-color: transparent;
    border: 2px solid var(--global-borderColor);
    border-radius: 30px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.c-button{
    display: block;
    background-color: var(--global-color-alpha-dark);
    color: var(--color-neutral-light-xxxx);
    width: 100%;
}


/*
    Component: Logo
    ---
    Website main logo
*/

.c-icon {
    max-height: 3rem; /* 48px = 16 * 3rem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-icon-logo {
    max-height: 8rem; /* 128px = 16 * 8rem*/
}

.c-icon-bar {
    width: 3rem; /* 48px = 16 * 3rem */
    margin-right: var(--global-whitespace-lg); 
}

.c-icon-btn {
    width: 1.5rem; /* 24px = 16 * 1.5rem */
}

.c-icon__symbol {
    height: 100%;
    fill: var(--global-color-alpha-dark);
}

.c-icon-stats {
    width: 3rem; /* 48px = 16 * 3rem */
    margin-right: var(--global-whitespace-lg);
    position: relative;
}

.c-icon-stats-health{
    --stat-color-highlight: var(--color-red-light-x);
    --stat-color-top: var(--color-red-light);
    --stat-color-center: var(--color-red-light);
    --stat-color-shadow: var(--color-red-dark);
    --stat-color-shadow-core: var(--color-red-dark-x);

    --stat-color-inner-light: var(--color-red-light-x);
    --stat-color-inner-shadow: var(--color-red-dark-x);
}

.c-icon-stats-attack{
    --stat-color-highlight: var(--color-yellow-light-x);
    --stat-color-top: var(--color-yellow-light);
    --stat-color-center: var(--color-yellow-light);
    --stat-color-shadow: var(--color-yellow-dark);
    --stat-color-shadow-core: var(--color-yellow-dark-x);

    --stat-color-inner-light: var(--color-yellow-light-x);
    --stat-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-icon-stats-cost{
    --stat-color-highlight: var(--color-blue-light-x);
    --stat-color-top: var(--color-blue-light);
    --stat-color-center: var(--color-blue-light);
    --stat-color-shadow: var(--color-blue-dark);
    --stat-color-shadow-core: var(--color-blue-dark-x);

    --stat-color-inner-light: var(--color-blue-light-x);
    --stat-color-inner-shadow: var(--color-blue-dark-x);
}

.c-icon-stats__inner{
    display: block;
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    fill: var(--stat-color-shadow);
}

.c-icon__path-1{
    fill: var(--stat-color-shadow);
}
.c-icon__path-2{
    fill: var(--stat-color-shadow-core);
}
.c-icon__path-3{
    fill: var(--stat-color-top);
}
.c-icon__path-4{
    fill: var(--stat-color-highlight);
}
.c-icon__path-5{
    fill: var(--stat-color-center);
}
.c-icon__path-6{
    fill: var(--stat-color-inner-light);
}
.c-icon__path-7{
    fill: var(--stat-color-inner-shadow);
}



/*
    Component: Search
    ---
    Search elements
*/

.c-search{
    --c-search-color: var(--color-neutral-dark);
    --c-search-textColor: var(--color-neutral-dark-xxx);

    --c-search__input-paddingH: var(--global-whitespace-md);
    --c-search__input-paddingV: var(--global-whitespace-sm);

    --c-search__layout-padding: 1rem;

    --search-background: var(--color-neutral-light-xxxx);

    color: var(--c-search-textColor);
    /*
    font-weight: 600;
    font-size: calc(18rem/16);
    */
    position: relative;
    z-index: 1000;
}

.c-search__bar{

}

.c-search__input{
    width: 100%;
    border-bottom: 1px solid var(--c-search-color);
    padding: var(--c-search__input-paddingV) var(--c-search__input-paddingH);

    background-color: var(--search-background);
    border-radius: 1rem;
}

.c-search__btn{
    fill: var(--c-search-color);
    width: auto;
}

/*
    Component: Search list
    ---
    List of searched items
*/

.c-search__container{
    --c-search__container-offset-v: calc(var(--c-search__container-paddingV) / 2);
    --c-search__container-paddingV: var(--global-whitespace-md);

    min-height: 100vh;
    width: 100%;

    position: absolute;
    overflow: hidden;
    z-index: 100;

    transform: translateX(calc(-1 * var(--c-search__container-offset-v)));
}

.c-search__list{
    --c-search__list-width: calc(100% - var(--c-search__layout-padding) - var(--c-search__container-paddingV));
    --c-search__list-transition: var(--global-transition-alpha);
    
    --c-search__list-paddingH: var(--global-whitespace-sm);
    --c-search__list-paddingV: calc(calc(100% - var(--c-search__list-width)) / 2);


    --c-search__list-item-paddingH: var(--global-whitespace-md);
    --c-search__list-item-paddingV: var(--global-whitespace-sm);

    position: absolute;
    z-index: -100;
    background-color: var(--search-background);
    border-radius: calc(3rem / 16);
    width: var(--c-search__list-width);

    max-height: 0;
    opacity: 0;
    transform: translate(var(--c-search__list-paddingV), calc(-1* 3rem));

    transition: all var(--c-search__list-transition) ease-out;
    -moz-transition: all var(--c-search__list-transition) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--c-search__list-transition) ease-out; /* Safari and Chrome */
}


/*.c-search__bar:hover .c-search__list,*/
.c-search__list-open
{
    display: block;
    max-height: calc(450rem / 15);
    opacity: 1;
    transform: translate(var(--c-search__list-paddingV), var(--c-search__list-paddingH));

    transition: all var(--c-search__list-transition) ease-in;
    -moz-transition: all var(--c-search__list-transition) ease-in; /* Firefox 4 */
    -webkit-transition: all var(--c-search__list-transition) ease-in; /* Safari and Chrome */
}


.c-search__list li{
    padding: var(--c-search__list-item-paddingH) 0;
    margin: 0 var(--c-search__list-item-paddingV);
}

.c-search__list li + li {
    --c-search__list-borderColor: rgba(255, 255, 255, 0.2);
    border-top: 1px solid var(--c-search__list-borderColor);
}



/*
    Component: Stats
    ---
    Status elements like percentage bars
*/

.c-stats{
    --stats-label-fontSize : 14px;
    --stats-label-margin : var(--global-whitespace-sm);
    --stats-border-size:  0.3rem;

    --stats-color-dark: red;
    --stats-color-light: blue;
    --stats-color-shadow: gray;
    --stats-color-background: var(--color-neutral-dark-xxx);

    --stat-color-highlight: var(--color-yellow-light-x);
    --stat-color-top: var(--color-yellow-light);
    --stat-color-center: var(--color-yellow-light);
    --stat-color-shadow: var(--color-yellow-dark);
    --stat-color-shadow-core: var(--color-yellow-dark-x);

    --stat-color-inner-light: var(--color-yellow-light-x);
    --stat-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-stats-health{
    --stats-color-dark: var(--color-red-light);
    --stats-color-light: var(--color-red-light-x);
    --stats-color-shadow: var(--color-red-light);

    --stat-color-highlight: var(--color-red-light-x);
    --stat-color-top: var(--color-red-light);
    --stat-color-center: var(--color-red-light);
    --stat-color-shadow: var(--color-red-dark);
    --stat-color-shadow-core: var(--color-red-dark-x);

    --stat-color-inner-light: var(--color-red-light-x);
    --stat-color-inner-shadow: var(--color-red-dark-x);
}

.c-stats-attack{
    --stats-color-dark: var(--color-yellow-light);
    --stats-color-light: var(--color-yellow-light-x);
    --stats-color-shadow: var(--color-yellow-light);

    --stat-color-highlight: var(--color-yellow-light-x);
    --stat-color-top: var(--color-yellow-light);
    --stat-color-center: var(--color-yellow-light);
    --stat-color-shadow: var(--color-yellow-dark);
    --stat-color-shadow-core: var(--color-yellow-dark-x);

    --stat-color-inner-light: var(--color-yellow-light-x);
    --stat-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-stats-cost{
    --stats-color-dark: var(--color-blue-light);
    --stats-color-light: var(--color-blue-light-x);
    --stats-color-shadow: var(--color-blue-light);

    --stat-color-highlight: var(--color-blue-light-x);
    --stat-color-top: var(--color-blue-light);
    --stat-color-center: var(--color-blue-light);
    --stat-color-shadow: var(--color-blue-dark);
    --stat-color-shadow-core: var(--color-blue-dark-x);

    --stat-color-inner-light: var(--color-blue-light-x);
    --stat-color-inner-shadow: var(--color-blue-dark-x);
}

.c-stats__label{
    font-size: var(--stats-label-fontSize);
    margin: 0 0 var(--stats-label-margin);
}

.c-stats__bar{
    --c-stats__bar-borderRadius: calc(1rem);

    display: block;
    width: 100%;
    height: 20px;

    background-color: var(--stats-color-background);
    border-radius: var(--c-stats__bar-borderRadius);
    -webkit-box-shadow: 0px 0px 10px 0px var(--stats-color-shadow);
    -moz-box-shadow: 0px 0px 10px 0px var(--stats-color-shadow);
    box-shadow: 0px 0px 10px 0px var(--stats-color-shadow);
}

.c-stats__fill{
    width: 50%;
    height: 100%;

    background-color: var(--stats-color-light);
    background-image: linear-gradient(to right, var(--stats-color-dark) , var(--stats-color-light));
    border-radius: var(--c-stats__bar-borderRadius);
}   

/*
    Component: Image
    ---
    Image elements
*/

.c-image{
    max-width: 100%;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/


.u-no-margin-bottom {
    margin-bottom: 0;
}


/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/
.u-max-width-xxs {
    max-width: 12.5rem !important;  /*200px = 12.5rem * 16*/
}

.u-max-width-xs {
    max-width: 16.5rem !important;  /*264px = 16.5rem * 16*/
}

.u-max-width-sm {
    max-width: 19.5rem !important; /*312px = 19.5rem * 16 */
}

.u-max-width-md {
    max-width: 23.5rem !important; /*376px = 23.5rem * 16 */
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}


/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
