/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors base */
    --color-orange-dark-x: #f27624;
    --color-orange-dark: #ff8b3e;
    --color-orange-light: #ffab73;
    --color-orange-light-x: #ffc9a6;

    --color-blue-dark-x: #00244d;
    --color-blue-dark: #004799;
    --color-blue-light: #268bff;
    --color-blue-light-x: #a6d0ff;

    --color-yellow-dark: #4d2600;
    --color-yellow-dark: #994d00;
    --color-yellow-light: #ffdc26;
    --color-yellow-light-x: #ffffa6;

    --color-red-dark-x: #4d0000;
    --color-red-dark: #990000;
    --color-red-light: #ff2626;
    --color-red-light-x: #ffa6a6;


    --color-neutral-light-xxxx: #ffffff;
    --color-neutral-light-xxx: #fafdff;
    --color-neutral-light-xx: #e8eef2;
    --color-neutral-light-x: #ced5d9;
    --color-neutral-light: #b5bbbf;
    --color-neutral-dark: #85898c;
    --color-neutral-dark-x: #555759;
    --color-neutral-dark-xx: #252627;
    --color-neutral-dark-xxx: #0c0c0d;
    --color-neutral-dark-xxxx: #000000;



    /* colors */
    --color-gradient-dark: linear-gradient(var(--color-neutral-dark-xxxx), var(--color-neutral-dark-xx));
    --global-background-gradient: var(--color-gradient-dark);

    --global-borderColor: var(--color-neutral-light-xxxx);

    --global-background-image: var(--global-background-gradient);
    --global-background-color: var(--color-neutral-dark-xx);

    --global-color-alpha-dark: var(--color-orange-dark);
    --global-color-alpha-light: var(--color-orange-light-x);

    --global-form-backGroundColor: var(--color-neutral-light);
    --global-form-backGroundColor-hover: var(--color-neutral-light-xx);
    --global-form-backGroundColor-focus: var(--color-neutral-light-xxxx);

    --global-form-borderColor-normal: transparent;
    --global-form-borderColor-hover: var(--color-orange-light);
    --global-form-borderColor-focus: var(--color-orange-dark-x);

    --global-button-backGroundColor: var(--color-orange-dark-x);
    --global-button-backGroundColor-hover: var(--color-orange-dark-x);
    --global-button-backGroundColor-focus: var(--color-orange-dark-x);
    --global-button-backGroundColor-active: var(--color-orange-light);

    
    /* font */
    --global-font-size: 16px;
    --global-font-size-small: 0.875rem; /*14px*/

    --global-font-weight-semi: 600;
    --global-font-weight-regular: 400;

    --global-text-color: var(--color-neutral-light-xxxx);
    --global-text-color-light: var(--color-neutral-light);

    --global-form-textColor: var(--color-neutral-dark-xx);
    --global-form-textColor-hover: var(--color-neutral-dark-xxx);
    --global-form-textColor-focus: var(--color-neutral-dark-xxxx);

    --global-button-textColor: var(--color-neutral-light-xxx);
    --global-button-textColor-hover: var(--color-neutral-light-xxx);
    --global-button-textColor-focus: var(--color-neutral-light-xxxx);

    
    /* Whitespace */
    --global-baseline: calc(8rem / 16);         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace: calc(var(--global-baseline) * 3); /*  = 24px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */


    /* Shadows */
    --global-boxShadow-color-hover: var(--color-orange-dark-x);

    --global-boxShadow-width-xs:  0.05rem; 

    --global-boxShadow-spread-sm:  0.125rem; /*2px*/
    --global-boxShadow-spread-xs:   0.25rem; 

    --global-form-boxShadow-hover: 0px 0px var(--global-boxShadow-spread-xs) var(--global-boxShadow-width-xs) var(--global-boxShadow-color-hover);


    /* border radius */
    --global-border-radius-xl: 1rem;
    --global-border-radius-lg: calc(30rem / 16);
    --global-border-radius-md: calc(3rem / 16);
    --global-border-radius-sm: calc(2rem / 16);


    /* transitions */
    --global-transition-alpha: 0.2s;
    --global-transition-beta: 1s;
}


@media (min-width: 75rem) {
    :root {
        --global-font-size: 18px;
    }
}



/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: var(--global-font-size);
    line-height: 1.5;
    font-family: 'Nunito', Helvetica, arial, sans-serif;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--global-text-color);
    background-color: var(--global-background-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: var(--global-font-weight-semi);
}

h1 {
    font-size: calc(24rem / 16);
    line-height: calc(36rem / 16);
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size:  calc(18rem / 16);
    line-height: calc(27rem / 16);
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: calc(18rem / 16);
    line-height: calc(27rem / 16);
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: calc(16rem / 16);
    font-weight: var(--global-font-weight-regular);
    line-height: calc(24rem / 16);
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace);
}

ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: calc(24rem / 16);
    line-height: calc(32rem / 16);
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: var(--global-font-weight-regular);
    font-size: calc(12rem / 16);
    line-height: 1rem;
    margin-top: 0.5rem;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace);
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: calc(2rem / 16);
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
============================================================================================================================================================================================
#OBJECTS
============================================================================================================================================================================================
\*------------------------------------*/

/*
------------------------------------------------------------------------------------------------
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-row--center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* size modifiers */

.o-row--md {
    --o-row-whitespace-md: var(--global-whitespace-md);
    padding-top: var(--o-row-whitespace-md);
    padding-bottom: var(--o-row-whitespace-md);
}

.o-row--lg {
    --o-row-whitespace-lg: var(--global-whitespace-lg);
    padding-top: var(--o-row-whitespace-lg);
    padding-bottom: var(--o-row-whitespace-lg);
}

/*
------------------------------------------------------------------------------------------------
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
------------------------------------------------------------------------------------------------
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: var(--global-whitespace-md);
}

.o-section--md + .o-section {
    margin-top: var(--global-whitespace-lg);
}

.o-section--lg + .o-section {
    margin-top: var(--global-whitespace-xl);
}

@media (min-width: 62rem) {
    .o-section--negate-bp3{
        margin-top: 0px !important;
    }
}


/*
------------------------------------------------------------------------------------------------
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-layout__item {
    width: 100%;
}


/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    --o-layout--gutter-width: calc(12rem / 16);
    margin: 0 calc(-1 * var(--o-layout--gutter-height));
}

.o-layout--gutter > .o-layout__item {
    --o-layout__item--gutter-width: calc(var(--o-layout--gutter-width) / 2);
    padding: 0 var(--o-layout__item--gutter-width);
}

.o-layout--gutter-sm {
    --o-layout--gutter-width: calc(8rem / 16);
}

.o-layout--gutter-md {
    --o-layout--gutter-width: calc(16rem / 16);
}

.o-layout--gutter-lg {
    --o-layout--gutter-width: calc(24rem / 16);
}

.o-layout--gutter-xl {
    --o-layout--gutter-width: calc(48rem / 16);
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter-v {
    --o-layout--gutter-height: calc(8rem / 16);
    margin: calc(-1 * var(--o-layout--gutter-height)) 0;
}

.o-layout--gutter-v > .o-layout__item {
    padding: var(--o-layout--gutter-height) 0
}


/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

.o-layout--column {
    flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-flex-grow {
    /*width: auto;*/
    /*flex-grow: 1;*/

    flex: 1 1 auto;
}


/*
------------------------------------------------------------------------------------------------
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
------------------------------------------------------------------------------------------------
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}


.o-form-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    outline: none;
}



/*
------------------------------------------------------------------------------------------------
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*
------------------------------------------------------------------------------------------------
    Object: Page elements
    ---
*/
.o-page{
    background-image: var(--global-background-image);
}

.o-page--fill{
    min-height: 100vh;
}


/*------------------------------------*\
============================================================================================================================================================================================
#COMPONENTS
============================================================================================================================================================================================
\*------------------------------------*/


/*
---------------------------------------------------------------------------------------------------------------------------------------------------
    Component: Landing page
    ---
    Website landing page elemenrs
*/

.c-landing{
    position: relative;
}


@media (min-width: 62rem) {
    .c-landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto auto;
        grid-column-gap: var(--global-whitespace-xxl);
    }

    .c-landing__intro{
        grid-column: 1;
        grid-row: 1;
    }

    .c-landing__text{
        grid-column: 1;
        grid-row: 2;
    }

    .c-landing__image{
        grid-column: 2;
        grid-row: 1/-1;
    }

    .c-landing__form{
        grid-column: 1;
        grid-row: 3;
    }
}

.c-landing__logo{

}

.c-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 8rem; /*128px*/
}

.c-logo_symbol {
    height: 100%;
    fill: var(--global-color-alpha-dark);
}


.c-landing__title{
    color: var(--global-color-alpha-dark);
}

.c-landing__subtitle{
    color: var(--global-color-alpha-light);
}

.c-landing__text{
    color: var(--global-text-color-light);
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------------
    Component: Form
    ---
*/

.c-form{

}

.c-form__item{
    --c-form__item-textColor-base: var(--global-form-textColor);
    --c-form__item-textColor-hover: var(--global-form-textColor-hover);
    --c-form__item-textColor-focus: var(--global-form-textColor-focus);
    --c-form__item-textColor: var(--c-form__item-textColor-base);

    --c-form__item-backgroundColor-base: var(--global-form-backGroundColor);
    --c-form__item-backgroundColor-hover: var(--global-form-backGroundColor-hover);
    --c-form__item-backgroundColor-focus: var(--global-form-backGroundColor-focus);
    --c-form__item-backgroundColor: var(--c-form__item-backgroundColor-base);

    --c-form__item-borderColor: var(--global-form-borderColor-normal);
    --c-form__item-borderColor-hover: var(--global-form-borderColor-hover);
    --c-form__item-borderColor-focus: var(--global-form-borderColor-focus);

    --c-form__item-border:  var(--global-border-radius-sm) solid var(--c-form__item-borderColor);

    --c-form__item-boxShadow-hover: var(--global-form-boxShadow-hover);

    font-size: var(--global-font-size-small);
    font-weight: var(--global-font-weight-semi);
    padding: calc(14rem / 16) calc(18rem / 16);
    border-radius: var(--global-border-radius-lg);

    background-color: var(--c-form__item-backgroundColor);
    border: var(--c-form__item-border);
    color: var(--c-form__item-textColor);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    --c-form__item-transition: all var(--global-transition-alpha) ease;
    transition: var(--c-form__item-transition);
    display: block;
}

.c-form__item::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--c-form__item-textColor);
    opacity: 1; 
    transition: var(--c-form__item-transition);
  }

.c-form__item:hover{
    --c-form__item-borderColor: var(--c-form__item-borderColor-hover);
    --c-form__item-backgroundColor: var(--c-form__item-backgroundColor-hover);
    --c-form__item-textColor: var(--c-form__item-textColor-hover);

    -webkit-box-shadow: var(--c-form__item-boxShadow-hover);
    -moz-box-shadow:  var(--c-form__item-boxShadow-hover);
    box-shadow:  var(--c-form__item-boxShadow-hover);
}

.c-form__item:focus,
.c-form__item:active{
    --c-form__item-borderColor: var(--c-form__item-borderColor-focus);
    --c-form__item-backgroundColor: var(--c-form__item-backgroundColor-focus);
    --c-form__item-textColor: var(--c-form__item-textColor-focus);
}

.c-form__input{
    min-width: 100%;
    width: 100%;
}

.c-form__email{
    display: block;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}


.c-form_submit{

}

.c-form__button{
    --c-form__item-textColor: var(--global-button-textColor);
    --c-form__item-textColor-hover: var(--global-button-textColor-hover);
    --c-form__item-textColor-focus: var(--global-button-textColor-focus);

    --c-form__item-backgroundColor-base: var(--global-button-backGroundColor);
    --c-form__item-backgroundColor-hover: var(--global-button-backGroundColor-hover);
    --c-form__item-backgroundColor-focus: var(--global-button-backGroundColor-focus);

    --c-form__item-borderColor: transparent;

    min-width: 100%;
}

.c-form__button:active{
    --c-form__item-backgroundColor: var(--global-button-backGroundColor-active)
}


.c-form__button-svg { 
    --c-form__item-backgroundColor-base: transparent;
    --c-form__item-backgroundColor-hover: var(--global-button-backGroundColor-hover);
    --c-form__item-backgroundColor-focus: var(--global-button-backGroundColor-focus);

    --c-form__button-fill-focus: var(--color-neutral-light-xxxx);
    --c-form__button-fill-active: var(--color-neutral-light-xxxx);

    padding: 0;
} 

.c-form__button-svg:hover,
.c-form__button-svg:focus{ 
    fill: var(--c-form__button-fill-focus);
} 

.c-form__button-svg:active { 
    transform: scale(1.5);
    /*
    animation-name:  btn-animate;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    */
} 

@keyframes btn-animate {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50%  {
        fill: var(--c-form__button-fill-active);
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------------
    Component: App
    ---
*/

.c-app{
    --c-app-sidebar-width: calc(192rem / 16);
    --c-app-height-header: calc(64rem / 16);
    --c-app-height-leftover: calc(100vh - var(--c-app-height-header));
    position: relative;
}

.c-app__sidebar{
    --c-app__sidebar-border-radius: var(--global-border-radius-lg);


    display: grid;
    grid-template-rows: var(--c-app-height-header) var(--c-app-height-leftover);

    background-color: var(--c-app__sidebar-background-sub);

    position: fixed;
    z-index: 10000;
    transform: translateX(-100%);

    border-top-right-radius: var(--c-app__sidebar-border-radius);
    border-bottom-right-radius: var(--c-app__sidebar-border-radius);

    transition: all var(--global-transition-alpha) ease-out;
    -moz-transition: all var(--global-transition-alpha) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--global-transition-alpha) ease-out; /* Safari and Chrome */
}


.c-app__sidebar--show{
    transform: translateX(0);
}

.c-app__main{
    display: grid;
    grid-template-rows: var(--c-app-height-header) auto;
    overflow: hidden;

    position: relative;
}

.c-main__header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.c-header{
    /*
    position: fixed;
    width: 100%;
    background-color: red;
    */
}

.c-main__content{
    grid-row: 2;
    /*padding-top: var(--global-whitespace);*/
}

@media (min-width: 48rem) {
    .c-app{
        display: grid;
        grid-template-columns: var(--c-app-sidebar-width) calc(100vw - var(--c-app-sidebar-width));
    }

    .c-app__sidebar{
        grid-column: 1;
        transform: translateX(0);
    }

    .c-app__main{
        grid-column: 2;
    }
}

/*
------------------------------------------------------------------------------------------------
    Component: Sidebar
    ---
*/

.c-sidebar{
    --c-sidebar__header-padding: var(--global-whitespace-sm);
    --c-sidebar__header-background-header: var(--color-orange-dark);
    --c-sidebar__header-background: var(--color-neutral-dark-xxx);
    --c-sidebar__header-color: var(--color-neutral-light-xxxx);

    background: var(--c-sidebar__header-background);
}

.c-sidebar__header{
    grid-row: 1;
    background-color: var(--c-sidebar__header-background-header);
    padding: 0 var(--c-sidebar__header-padding);
    color: var(--c-sidebar__header-color);
    fill: var(--c-sidebar__header-color);

    display: flex;
    justify-content: start;
    align-items: center;

    border-top-right-radius: var(--c-app__sidebar-border-radius);
}

.c-sidebar__title{
    margin: 0;
    padding: 0;
}

@media (min-width: 48rem) {
    .c-sidebar__title{
        display: block;
        text-align: center;
        width: 100%;
    }
}

.c-sidebar__button{
    padding-right: var(--global-whitespace-md);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-sidebar__content{
    grid-row: 2;
    min-height: calc(100vh - var(--c-app-header-height));
    color: var(--c-sidebar__header-labelColor);
    overflow: auto;
}


/*
------------------------------------------------------------------------------------------------
    Component: Toggle list
    ---
*/

.c-toggle-list {

}


.c-toggle-list__item{

}


/*
------------------------------------------------------------------------------------------------
    Component: Filter
    ---
*/

.c-label{
    --c-label-background: transparent;
    --c-label-background-checked: var(--color-neutral-dark-xx);
    --c-label-background-hover: var(--color-orange-dark);

    --c-label-labelColor: var(--color-neutral-light);
    --c-label-labelColor-checked: var(--color-orange-dark);
    --c-label-labelColor-hover: var(--color-neutral-light-xxxx);
    --c-label-hover-extraWidth: 0;
    
    --c-label-paddingH: var(--global-whitespace-md);
    --c-label-paddingV: calc(var(--global-whitespace-md) / 2);

    position: static;

    font-size: calc(16rem / 15);
    font-weight: var(--global-font-weight-semi);
    color: var(--c-label-labelColor);
    background-color: var(--c-label-background);

    width: 100%;
    height: 100%;

    padding: var(--c-label-paddingV) var( --c-label-paddingH);

    transition: all var(--global-transition-alpha) ease-out;
    -moz-transition: all var(--global-transition-alpha) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--global-transition-alpha) ease-out; /* Safari and Chrome */
}

@media (min-width: 15rem){ /* 240px = 15rem * 16 , take padding into acc*/
    .c-label{
        --c-label-hover-extraWidth: calc(32rem / 16);
    }
}

.c-option--hidden:checked + .c-label{
    background-color: var(--c-label-background-checked);
    color: var(--c-label-labelColor-checked);
}

.c-label:hover,
.c-label:focus{
    --c-label-boxShadow-width-hover: calc(2rem / 16);
    --c-label-boxShadow-hover: 0px 0px 0px var(--c-label-boxShadow-width-hover) var(--color-orange-light-x);

    position: relative;
    background-color: var(--c-label-background-hover) !important ;
    color: var(--c-label-labelColor-hover) !important;
    height: auto;

    /*
    width: calc(100% + var(--c-label-hover-extraWidth));
    position: absolute;
    */

    -webkit-box-shadow: var( --c-label-boxShadow-hover);
    -moz-box-shadow: var( --c-label-boxShadow-hover);
    box-shadow: var( --c-label-boxShadow-hover);
}


.c-custom-toggle{
    --c-custom-option-background: var(--color-neutral-light-xxxx);
    --c-custom-option-background-checked: var(--color-neutral-light-xxxx);
    --c-custom-option-color: var(--color-neutral-light-xxxx);
    --c-custom-option-color-checked: var(--color-neutral-dark-xxx);

    --c-custom-option-borderColor: var(--color-neutral-dark-x);
    --c-custom-option-borderColor-hover: var(--color-neutral-dark-xx);
    --c-custom-option-border: 1px solid var(--c-custom-option-borderColor);
    --c-custom-option-border-hover: calc(2rem / 16) solid var(--c-custom-option-borderColor-hover);

    display: flex;
    align-items: center;
    justify-content: space-between;

    /*background-color: blue;*/
}

/*
.c-option--hidden:checked + .c-custom-toggle{
    background-color: red;
}
*/

.c-custom-toggle__fake-input{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    background-color: var(--c-custom-option-background);
    border-radius: var(--global-border-radius-md);
    border: var(--c-custom-option-border);

    margin-left: var(--global-whitespace-md);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input{
    background:var(--c-custom-option-background-checked);
}

.c-custom-toggle__symbol{
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__symbol{
    fill: var(--c-custom-option-color-checked);
    opacity: 100;
}

.c-label:hover .c-custom-toggle__fake-input,
.c-label:focus .c-custom-toggle__fake-input{
    border: var(--c-custom-option-border-hover);
}


/*
------------------------------------------------------------------------------------------------
    Component: Logo
    ---
    Website main logo
*/

.c-icon {
    max-height: 3rem; /* 48px = 16 * 3rem */
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.c-icon-bar {
    width: 3rem; /* 48px = 16 * 3rem */
    margin-right: var(--global-whitespace-lg); 
}

.c-icon-btn {
    width: 1.5rem; /* 24px = 16 * 1.5rem */
    height: 1.5rem; /* 24px = 16 * 1.5rem */
}

.c-icon__symbol {
    height: 100%;
    width: 100%;
    fill: var(--global-color-alpha-dark);
}

.c-icon-stats {
    max-height: 3rem; /* 48px = 16 * 3rem */
    max-width: 3rem;
    /*margin-right: var(--global-whitespace-lg);*/
    position: relative;
    width: auto;
}

.c-icon-stats-health{
    --c-stats-color-highlight: var(--color-red-light-x);
    --c-stats-color-top: var(--color-red-light);
    --c-stats-color-center: var(--color-red-light);
    --c-stats-color-shadow: var(--color-red-dark);
    --c-stats-color-shadow-core: var(--color-red-dark-x);

    --c-stats-color-inner-light: var(--color-red-light-x);
    --c-stats-color-inner-shadow: var(--color-red-dark-x);
}

.c-icon-stats-attack{
    --c-stats-color-highlight: var(--color-yellow-light-x);
    --c-stats-color-top: var(--color-yellow-light);
    --c-stats-color-center: var(--color-yellow-light);
    --c-stats-color-shadow: var(--color-yellow-dark);
    --c-stats-color-shadow-core: var(--color-yellow-dark-x);

    --c-stats-color-inner-light: var(--color-yellow-light-x);
    --c-stats-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-icon-stats-cost{
    --c-stats-color-highlight: var(--color-blue-light-x);
    --c-stats-color-top: var(--color-blue-light);
    --c-stats-color-center: var(--color-blue-light);
    --c-stats-color-shadow: var(--color-blue-dark);
    --c-stats-color-shadow-core: var(--color-blue-dark-x);

    --c-stats-color-inner-light: var(--color-blue-light-x);
    --c-stats-color-inner-shadow: var(--color-blue-dark-x);
}

.c-icon-stats__inner{
    display: block;
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    fill: var(--c-stats-color-shadow);
}

.c-icon__path-1{
    fill: var(--c-stats-color-shadow);
}
.c-icon__path-2{
    fill: var(--c-stats-color-shadow-core);
}
.c-icon__path-3{
    fill: var(--c-stats-color-top);
}
.c-icon__path-4{
    fill: var(--c-stats-color-highlight);
}
.c-icon__path-5{
    fill: var(--c-stats-color-center);
}
.c-icon__path-6{
    fill: var(--c-stats-color-inner-light);
}
.c-icon__path-7{
    fill: var(--c-stats-color-inner-shadow);
}

/*
------------------------------------------------------------------------------------------------
    Component: Search
    ---
    Search elements
*/

.c-search{
    /*https://loading.io/css/*/
    --c-search-color: var(--color-neutral-dark);
    --c-search-textColor: var(--color-neutral-dark-xxx);

    --c-search__input-paddingH: var(--global-whitespace-md);
    --c-search__input-paddingV: var(--global-whitespace-sm);

    --c-search__layout-padding: 1rem;

    color: var(--c-search-textColor);
    position: relative;
    z-index: 1000;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: var(--global-whitespace-md);

    fill: var(--c-search-color);

    outline: none;
}

.c-search__filter{
    grid-column: 1;
    outline: none;
}

.c-search__bar{
    position: relative;
    width: auto;

    grid-column: 2;
}

.c-search__input{
    position: relative;
    padding: var(--c-search__input-paddingV) var(--c-search__input-paddingH);
}

.c-search__btn{
    grid-column: 3;
    outline: none;
}


/*
------------------------------------------------------------------------------------------------
    Component: Search list results
    ---
    List of searched items
*/

.c-search__container{
    --c-search__container-offset-v: calc(var(--c-search__container-paddingV) / 2);
    --c-search__container-paddingV: var(--global-whitespace-md);

    min-height: 100vh;
    width: 100%;

    position: absolute;
    overflow: hidden;
    z-index: 100;

    transform: translateX(calc(-1 * var(--c-search__container-offset-v)));
}

.c-search__list{
    --c-search__list-background: var(--global-form-backGroundColor-focus);
    --c-search__list-textColor: var(--global-form-textColor-focus);

    --c-search__list-width: calc(100% - var(--c-search__layout-padding) - var(--c-search__container-paddingV));
    --c-search__list-transition: var(--global-transition-alpha);
    
    --c-search__list-paddingH: var(--global-whitespace-sm);
    --c-search__list-paddingV: calc(calc(100% - var(--c-search__list-width)) / 2);


    --c-search__list-item-paddingH: var(--global-whitespace-md);
    --c-search__list-item-paddingV: var(--global-whitespace-sm);

    position: absolute;
    z-index: -100;
    border-radius: var(--global-border-radius-md);
    width: 100%;

    background-color: var(--c-search__list-background);
    color: var(--c-search__list-textColor);

    max-height: 0;
    opacity: 0;
    transform: translate(var(--c-search__list-paddingV), calc(-1* 3rem));

    transition: all var(--c-search__list-transition) ease-out;
    -moz-transition: all var(--c-search__list-transition) ease-out; /* Firefox 4 */
    -webkit-transition: all var(--c-search__list-transition) ease-out; /* Safari and Chrome */
}


/*.c-search__bar:hover .c-search__list,*/
.c-search__list-open
{
    display: block;
    max-height: calc(450rem / 15);
    opacity: 1;
    transform: translate(var(--c-search__list-paddingV), var(--c-search__list-paddingH));

    transition: all var(--c-search__list-transition) ease-in;
    -moz-transition: all var(--c-search__list-transition) ease-in; /* Firefox 4 */
    -webkit-transition: all var(--c-search__list-transition) ease-in; /* Safari and Chrome */
}


.c-search__list li{
    padding: var(--c-search__list-item-paddingH) 0;
    margin: 0 var(--c-search__list-item-paddingV);
}

.c-search__list li + li {
    --c-search__list-borderColor: rgba(255, 255, 255, 0.2);
    border-top: 1px solid var(--c-search__list-borderColor);
}



/*
------------------------------------------------------------------------------------------------
    Component: Stats
    ---
    Status elements like percentage bars
*/

.c-stats{
    --c-stats-label-fontSize : var(--global-font-size-small);
    --c-stats-label-margin : var(--global-whitespace-sm);
    --c-stats-boxShadow-width:  var( --global-boxShadow-width-xs);
    --c-stats-boxShadow-spread:  var( --global-boxShadow-spread-sm);

    --c-stats-color-dark: red;
    --c-stats-color-light: blue;
    --c-stats-color-shadow: gray;
    --c-stats-color-background: var(--color-neutral-dark-xxx);

    --c-stats-color-highlight: var(--color-yellow-light-x);
    --c-stats-color-top: var(--color-yellow-light);
    --c-stats-color-center: var(--color-yellow-light);
    --c-stats-color-shadow: var(--color-yellow-dark);
    --c-stats-color-shadow-core: var(--color-yellow-dark-x);

    --c-stats-color-inner-light: var(--color-yellow-light-x);
    --c-stats-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-stats{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: var(--global-whitespace-xs);
    grid-column-gap: var(--global-whitespace-md);
}

.c-stats__icon{
    grid-row: 1 / -1;
    grid-column: 1;
    /*background-color: red;*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.c-stats__details{
    grid-row: 1;
    grid-column: 2;
}

.c-stats__bar{
    grid-row: 2;
    grid-column: 2;
}

.c-stats-health{
    --c-stats-color-dark: var(--color-red-light);
    --c-stats-color-light: var(--color-red-light-x);
    --c-stats-color-shadow: var(--color-red-light);

    --c-stats-color-highlight: var(--color-red-light-x);
    --c-stats-color-top: var(--color-red-light);
    --c-stats-color-center: var(--color-red-light);
    --c-stats-color-shadow: var(--color-red-dark);
    --c-stats-color-shadow-core: var(--color-red-dark-x);

    --c-stats-color-inner-light: var(--color-red-light-x);
    --c-stats-color-inner-shadow: var(--color-red-dark-x);
}

.c-stats-attack{
    --c-stats-color-dark: var(--color-yellow-light);
    --c-stats-color-light: var(--color-yellow-light-x);
    --c-stats-color-shadow: var(--color-yellow-light);

    --c-stats-color-highlight: var(--color-yellow-light-x);
    --c-stats-color-top: var(--color-yellow-light);
    --c-stats-color-center: var(--color-yellow-light);
    --c-stats-color-shadow: var(--color-yellow-dark);
    --c-stats-color-shadow-core: var(--color-yellow-dark-x);

    --c-stats-color-inner-light: var(--color-yellow-light-x);
    --c-stats-color-inner-shadow: var(--color-yellow-dark-x);
}

.c-stats-cost{
    --c-stats-color-dark: var(--color-blue-light);
    --c-stats-color-light: var(--color-blue-light-x);
    --c-stats-color-shadow: var(--color-blue-light);

    --c-stats-color-highlight: var(--color-blue-light-x);
    --c-stats-color-top: var(--color-blue-light);
    --c-stats-color-center: var(--color-blue-light);
    --c-stats-color-shadow: var(--color-blue-dark);
    --c-stats-color-shadow-core: var(--color-blue-dark-x);

    --c-stats-color-inner-light: var(--color-blue-light-x);
    --c-stats-color-inner-shadow: var(--color-blue-dark-x);
}

.c-stats__label{
    font-size: var(--c-stats-label-fontSize);
    margin: 0;
}

.c-stats__label-start{
    min-width: 25%;
}

.c-stats__bar{
    --c-stats__bar-borderRadius: var(--global-border-radius-xl);
    --c-stats__bar-boxShadow: 0px 0px var(--c-stats-boxShadow-width) var(--c-stats-boxShadow-width) var(--c-stats-color-shadow);

    --c-stats__bar-percentage: 90%;

    display: block;
    width: 100%;
    height: calc(20rem / 16);

    background-color: var(--c-stats-color-background);
    border-radius: var(--c-stats__bar-borderRadius);

    -webkit-box-shadow: var(--c-stats__bar-boxShadow);
    -moz-box-shadow: var(--c-stats__bar-boxShadow);
    box-shadow: var(--c-stats__bar-boxShadow);

    position: relative;
    overflow: hidden;
}

.c-stats__fill{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: var(--c-stats-color-light);
    background-image: linear-gradient(to right, var(--c-stats-color-dark) , var(--c-stats-color-light));
    border-radius: var(--c-stats__bar-borderRadius);
}   

.c-stats__hide{
    position: absolute;
    z-index: 100;

    left: var(--c-stats__bar-percentage);
    top: 0;

    width: calc(100% - var(--c-stats__bar-percentage));
    height: 100%;

    background-color: var(--c-stats-color-background);
}   

/*
------------------------------------------------------------------------------------------------
    Component: Image
    ---
    Image elements
*/

.c-image{
    max-width: 100%;
}


/*------------------------------------*\
============================================================================================================================================================================================
#UTILITIES
============================================================================================================================================================================================
\*------------------------------------*/


.u-no-margin-bottom {
    margin-bottom: 0;
}


/*
------------------------------------------------------------------------------------------------
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
------------------------------------------------------------------------------------------------
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
------------------------------------------------------------------------------------------------
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/
.u-max-width-xxs {
    max-width: 12.5rem !important;  /*200px = 12.5rem * 16*/
}

.u-max-width-xs {
    max-width: 16.5rem !important;  /*264px = 16.5rem * 16*/
}

.u-max-width-sm {
    max-width: 19.5rem !important; /*312px = 19.5rem * 16 */
}

.u-max-width-md {
    max-width: 23.5rem !important; /*376px = 23.5rem * 16 */
}

.u-max-width-lg {
    max-width: 30em !important;  /*480px = 30rem * 16 */
}

.u-max-width-xl {
    max-width: 50rem !important;/*800px = 50rem * 16 */
}

.u-max-width-none {
    max-width: none !important;
}

@media (min-width: 62rem) {
    .u-max-width-lg-bp3{
        max-width: 30em !important;  /*480px = 30rem * 16 */
    }

    .u-max-width-xl-bp3{
        max-width: 50rem !important;/*800px = 50rem * 16 */
    }
}


/*
------------------------------------------------------------------------------------------------
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
------------------------------------------------------------------------------------------------
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: calc(14rem / 16);
}
/*
------------------------------------------------------------------------------------------------
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-dimension-auto {
    width: auto;
    height: auto;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 36rem) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 48rem) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 62rem) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 75rem) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}




@media (min-width: 48rem) {
    .u-display-none-bp2 {
        display: none;
    }
}




/*------------------------------------*\
============================================================================================================================================================================================
#STATES
============================================================================================================================================================================================
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
/*
------------------------------------------------------------------------------------------------
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
